@font-face{
font-family:"FrutigerLTW02-45Light";
src:url("Fonts/99f761bf-9f30-4bdd-b284-ee7038dc52c9.eot?#iefix");
src:url("Fonts/99f761bf-9f30-4bdd-b284-ee7038dc52c9.eot?#iefix") format("eot"),url("Fonts/59d9a83f-4045-4d43-af46-655f845461ee.woff") format("woff"),url("Fonts/f901b503-9104-414a-a856-af9bcc802b5c.ttf") format("truetype"),url("Fonts/e4d07d96-8993-47b9-9f1d-1e228bf1c529.svg#e4d07d96-8993-47b9-9f1d-1e228bf1c529") format("svg");
}
@font-face{
font-family:"FrutigerLTW02-46LightIt";
src:url("Fonts/412becac-582a-4ba8-960b-67344a7c4f35.eot?#iefix");
src:url("Fonts/412becac-582a-4ba8-960b-67344a7c4f35.eot?#iefix") format("eot"),url("Fonts/9df27c27-758a-459d-adef-ec794e2f4339.woff") format("woff"),url("Fonts/e32edd56-9f04-4f0b-8ed3-4c2fee583dcf.ttf") format("truetype"),url("Fonts/9cf390ea-aabe-4d32-8126-d627ce744f4e.svg#9cf390ea-aabe-4d32-8126-d627ce744f4e") format("svg");
}
@font-face{
font-family:"FrutigerLTW02-47LightCn";
src:url("Fonts/16287d1e-35c2-48f5-8e23-53345e052ca7.eot?#iefix");
src:url("Fonts/16287d1e-35c2-48f5-8e23-53345e052ca7.eot?#iefix") format("eot"),url("Fonts/18e289e9-d1cf-49c2-9e2b-443f187c1f87.woff") format("woff"),url("Fonts/23a04561-390f-4346-9287-d05ec4f6f542.ttf") format("truetype"),url("Fonts/4f7e6038-e429-4d6d-b74f-43498d868495.svg#4f7e6038-e429-4d6d-b74f-43498d868495") format("svg");
}
@font-face{
font-family:"FrutigerLTW02-55Roman";
src:url("Fonts/c94bd41e-23b3-4522-8237-0a0f7bd0e953.eot?#iefix");
src:url("Fonts/c94bd41e-23b3-4522-8237-0a0f7bd0e953.eot?#iefix") format("eot"),url("Fonts/409b4bec-c67e-4764-a141-054db8df81d2.woff") format("woff"),url("Fonts/efe9def0-77d1-4c28-8fd2-371236a3c8ed.ttf") format("truetype"),url("Fonts/70b07d32-76f5-474e-83b0-7d5a3fefb15b.svg#70b07d32-76f5-474e-83b0-7d5a3fefb15b") format("svg");
}
@font-face{
font-family:"FrutigerLTW02-56Italic";
src:url("Fonts/b535a427-c56c-4484-b834-dde05736736c.eot?#iefix");
src:url("Fonts/b535a427-c56c-4484-b834-dde05736736c.eot?#iefix") format("eot"),url("Fonts/97935525-8e9d-4d37-a4df-956f6656209b.woff") format("woff"),url("Fonts/1b127be3-961c-4b75-8ab4-7bec69e88c2f.ttf") format("truetype"),url("Fonts/3048f5a2-9f13-481a-b01c-22228223c00b.svg#3048f5a2-9f13-481a-b01c-22228223c00b") format("svg");
}
@font-face{
font-family:"Frutiger LT W02 65 Bold";
src:url("Fonts/4d38d09a-3017-4733-a624-366fb9a71388.eot?#iefix");
src:url("Fonts/4d38d09a-3017-4733-a624-366fb9a71388.eot?#iefix") format("eot"),url("Fonts/3c514636-142f-43f9-983f-76110a86b424.woff") format("woff"),url("Fonts/f147a146-bb13-4102-a482-bbad38d9fcc0.ttf") format("truetype"),url("Fonts/10c3886a-7856-45f7-951d-24230bc1491a.svg#10c3886a-7856-45f7-951d-24230bc1491a") format("svg");
}
@font-face{
font-family:"FrutigerLTW02-75Black";
src:url("Fonts/16b533e0-95d6-4cc3-9294-2167207e104a.eot?#iefix");
src:url("Fonts/16b533e0-95d6-4cc3-9294-2167207e104a.eot?#iefix") format("eot"),url("Fonts/ea887890-06b4-4e2c-9c5e-b1d792d048c1.woff") format("woff"),url("Fonts/9146045f-1241-414d-a918-05313a2c12a1.ttf") format("truetype"),url("Fonts/4aa5740e-f5d5-4991-98db-2d574814b001.svg#4aa5740e-f5d5-4991-98db-2d574814b001") format("svg");
}
